# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_qhVjo4CO1MJX@ep-solitary-smoke-aibtcr0k-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Authentication (Optional - for Admin)
GMAIL_KEY=madhan@gmail.com
PASSWORD_KEY=mad

# Gemini API Key (Automatically provided by platform, but good to document)
API_KEY=
